export AAD_CLIENT_ID=""
export AAD_TENANT=example.onmicrosoft.com

export FORECAST_API_KEY=""
export FORECAST_LOCATION=41.448170,-72.804079

export JIRA_URL=https://example.atlassian.net
export JIRA_USERNAME=
export JIRA_PASSWORD=
export JIRA_FILTER=10100

export TWITTER_CONSUMER_KEY=""
export TWITTER_CONSUMER_SECRET=""
export TWITTER_ACCESS_TOKEN=""
export TWITTER_ACCESS_SECRET=""
export TWITTER_SEARCH="#devops"

export VICTOROPS_ID=""
export VICTOROPS_KEY=""
