<% content_for :title do %>My super sweet dashboard<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="forecast" data-view="Forecast" data-title="Weather Forecast" ></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="serviceDeskIssues" data-view="Number" data-title="Open Service Desk Issues"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="victorops-incidents" data-view="VictorOpsList" data-unordered="true" data-title="Open VictorOps Incidents"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-view="DailyXKCD" data-id="xkcd-of-the-day"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="victorops-oncall" data-view="Text" data-title="Who's on call?"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="twitter_mentions" data-view="Comments" style="background-color:#ff9618;" data-moreinfo="Tweets tagged with <%= ENV['TWITTER_SEARCH'] %>"></div>
      <i class="fa fa-twitter icon-background"></i>
    </li>
  </ul>
</div>
