<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-source="forecast"
           data-widget="Forecast"
           data-title="Current Weather"></div>
    </li>
  </ul>
</div>
